<div class="sidebar-brand">
    <a href="/" class="sidebar-logo">
        <span class="sidebar-logo-mark">PB</span>
        <span>PadelBracket</span>
    </a>
</div>

<input type="checkbox" title="Menú de navegación" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="sidebar-nav">
        <NavLink class="sidebar-link" href="" Match="NavLinkMatch.All">
            <span class="sidebar-icon">IN</span>
            <span>Inicio</span>
        </NavLink>

        <NavLink class="sidebar-link" href="tournaments">
            <span class="sidebar-icon">TR</span>
            <span>Torneos</span>
        </NavLink>

        <NavLink class="sidebar-link" href="players">
            <span class="sidebar-icon">JG</span>
            <span>Jugadores</span>
        </NavLink>

        <NavLink class="sidebar-link" href="pairs">
            <span class="sidebar-icon">PR</span>
            <span>Parejas</span>
        </NavLink>

        <NavLink class="sidebar-link" href="matches/history">
            <span class="sidebar-icon">HT</span>
            <span>Historial</span>
        </NavLink>

        <NavLink class="sidebar-link" href="dashboard">
            <span class="sidebar-icon">DB</span>
            <span>Dashboard</span>
        </NavLink>
    </nav>
</div>